body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: rgb(64, 20, 105);
    font-family: 'Press Start 2P', cursive;
}
::-webkit-scrollbar{
    width: 0;
}
.curved{
    background: rgb(126, 6, 156);
    padding: 0;
    border: none;
    color: rgb(255, 5, 143);
    text-align: center;
}
.curved h1{
    font-size: 6rem;
    margin-top: 0;
}
.curved p{
    font-size: 1rem;
    margin: 0 5rem 0 5rem;
}
.curved svg{
    display: block;
}
.curved.top{
    background: rgba(255, 255, 255, 0);
}
br{
    height: 100px;
}